@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(#ffc38c, #ff9b40); */
    background: #000000;
    z-index: -1; 
}
.portfolio {
    color: #ffffff;
    z-index: 0;
}
.navbar, .nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}